<!-- Email Footer : BEGIN -->
<table cellspacing="0" cellpadding="0" border="0" align="center" width="600" style="margin: auto;" class="email-container">
    <tr>
        <td style="padding: 40px 10px;width: 100%;font-size: 12px; font-family: sans-serif; mso-height-rule: exactly; line-height:18px; text-align: center; color: #888888;">
            <p>Wenn Sie nicht der berechtigte Empfänger dieser Mail sind oder diese Mail durch ein Missverständnis erhalten haben, bitte <a href="mailto:support@paynrelax.de">kontaktieren Sie uns</a> unverzüglich und löschen diese Mail.</p>
            <br><br>
            pay &amp; relax GmbH<br><span class="mobile-link--footer">Sonnenbergstrasse 50, 70184 Stuttgart - DE</span><br></span>
            <br><br> 
        </td>
    </tr>
</table>
<!-- Email Footer : END -->
